$green: #00ba71;
// rgb(0, 186, 113)
$purple: #8e1cfd;
$gray1: #f8f8f8;
$gray2: #dde2e5;
$gray3: #aab6be;

$green: #00cf6b;
$pink: #ff99a3;
$blue: #00a5cf;
$orange: #fc5f1c;
$red: #fc321c;
$yellow: #fcea1c;
$nude: #f2ece4;

img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: black;
  &:hover {
    color: $green;
  }
  cursor: pointer;
  text-decoration: none;
}

@keyframes spinner {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}

nav {
  //background-color: #f2ece4;
  // border: 1px solid red;
  //background-color: white;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100px;
  @include phone {
    height: 80px;
  }
  display: flex;
  transition: top 0.25s;
  transition-timing-function: cubic-bezier(0.66, 0, 0.34, 1);

  // Logo
  > div:first-of-type {
    // border: 1px solid red;
    width: 10vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    > div {
      height: 80px;
      width: 80px;
      @include phone {
        height: 60px;
        width: 60px;
      }
      position: relative;

      img {
        animation: spinner 10s infinite linear;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include L;
      }
    }
  }

  // Links
  > div:nth-of-type(2) {
    //border: 1px solid red;
    width: 90vw;
    ul {
      // border: 1px solid yellow;
      width: 90%;
      margin: 0 auto;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li {
        a {
          display: block;
          @include S;
          font-family: "ITCAvantGardeStd-Demi";
          text-align: center;
          padding: 1vw 2vw;
          svg {
            display: none;
          }
        }
        // Contact
        &:nth-of-type(5) {
          border: 2px solid $purple;
          border-radius: 1px;
          &:hover {
            background-color: $purple;
            a {
              color: black;
            }
          }
        }
        // Social links
        &:last-of-type {
          display: none;
        }
      }
    }
  }

  // Toggle icon
  > div:nth-of-type(3) {
    display: none;
  }

  @include phone {
    justify-content: space-between;

    // Logo
    > div:nth-of-type(1) {
      width: 15vw;
    }

    // Links
    > div:nth-of-type(2) {
      width: 50%;
      position: absolute;
      right: -100%;
      height: 100vh;
      background-color: $gray1;
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        // border: 1px solid red;
        width: 60%;
        height: 80%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        li {
          //border: 1px solid red;
          a {
            //border: 1px solid red;
            font-size: 1.5rem;

            &:hover {
              svg {
                display: inline-block;
                position: relative;
                top: 0.15em;
              }
            }
          }

          // Contact
          &:nth-of-type(5) {
            border: none;
            &:hover {
              background-color: inherit;
              a {
                color: $green;
              }
            }
          }

          // Social links
          &:last-of-type {
            margin-top: auto;
            @include flex-col;

            a {
              text-align: left;
              svg {
                display: inline-block;
              }
              &:hover {
                svg {
                  top: 0;
                }
              }
            }
          }
        }
      }

      &.active {
        right: 0;
      }
    }

    // Toggle
    > div:nth-of-type(3) {
      // border: 1px solid red;
      width: 15%;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .bar {
        width: 40px;
        height: 2px;
        background-color: black;
        transition: 0.25s ease;
      }

      .hidden {
        width: 40px;
        height: 2px;
        margin: 5px 0;
      }

      &.active {
        .bar {
          &:first-of-type {
            -webkit-transform: rotate(-45deg) translate(-5px, 5px);
            transform: rotate(-45deg) translate(-5px, 5px);
          }
          &:last-of-type {
            -webkit-transform: rotate(45deg) translate(-5px, -5px);
            transform: rotate(45deg) translate(-5px, -5px);
          }
        }
      }
    }
  }
}

aside {
  // border: 1px solid red;
  width: 10vw;
  height: 100vh;
  position: fixed;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 3vw 0;

  > div {
    a {
      display: block;
      @include S;
    }
  }

  @include phone {
    display: none;
  }
}

.backToTop {
  // border: 1px solid red;
  @include L;
  position: fixed;
  right: 4vw;
  bottom: 3vw;
  @include phone {
    bottom: 7vw;
  }

  svg {
    fill: black;
    vertical-align: middle;
    border-radius: 50%;
  }
}

footer {
  p {
    display: block;
    @include container;
    padding: 3vw 0;
    @include S;
    // @include strong;
    svg {
      color: $red;
    }
  }
}

.spinner {
  position: relative;

  img {
    animation: spinner 10s infinite linear;
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
