@font-face {
  font-family: "ITCAvantGardeStd-Bk";
  font-style: normal;
  font-weight: normal;
  src: local("ITCAvantGardeStd-Bk"),
    url("./assets/fonts/ITCAvantGardeStd-Bk.woff") format("woff");
}

@font-face {
  font-family: "ITCAvantGardeStd-Md";
  font-style: normal;
  font-weight: normal;
  src: local("ITCAvantGardeStd-Md"),
    url("./assets/fonts/ITCAvantGardeStd-Md.woff") format("woff");
}

@font-face {
  font-family: "ITCAvantGardeStd-Demi";
  font-style: normal;
  font-weight: normal;
  src: local("ITCAvantGardeStd-Demi"),
    url("./assets/fonts/ITCAvantGardeStd-Demi.woff") format("woff");
}
@font-face {
  font-family: "ITCAvantGardeStd-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("ITCAvantGardeStd-Bold"),
    url("./assets/fonts/ITCAvantGardeStd-Bold.woff") format("woff");
}
