// Media queries
@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin container {
  margin: 0 auto;
  width: 80%;

  @include phone {
    width: 90%;
  }
}

// Flex containers
@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

// Texts
@mixin S {
  font-size: 1.05rem;
  line-height: 1.5;

  @include tablet {
    font-size: 1.25rem;
  }

  @include desktop {
    font-size: 1.4vw;
  }
}

@mixin L {
  font-size: 1.5rem;
  @include tablet {
    font-size: 1.75rem;
  }

  @include desktop {
    font-size: 2vw;
  }
}

@mixin XL {
  font-size: 2rem;
  @include tablet {
    font-size: 2.5rem;
  }

  @include desktop {
    font-size: 3vw;
  }
}

@mixin XXL {
  font-size: 2.5rem;
  @include tablet {
    font-size: 3rem;
  }

  @include desktop {
    font-size: 4vw;
  }
}

@mixin strong {
  font-family: "ITCAvantGardeStd-Demi";
}

// @mixin txt-hl {
//   background: linear-gradient(to top, #ccff33 100%, transparent 100%);
// }

// @mixin txt-ul {
//   background: linear-gradient(to top, #ccff33 15%, transparent 15%);
// }
