// Media queries
@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin container {
  margin: 0 auto;
  width: 80%;

  @include phone {
    width: 90%;
  }
}

// Flex containers
@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex {
  display: flex;
  flex-direction: row;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow {
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.1), 0 3px 4px 0 rgba(0, 0, 0, 0.1),
    0 1px 8px 0 rgba(0, 0, 0, 0.1);
}

// Texts

@mixin XS {
  font-size: 1.1rem;

  @include tablet {
    font-size: 1.1rem;
  }

  @include desktop {
    font-size: 1.25vw;
  }
}

@mixin S {
  font-size: 1.25rem;

  @include tablet {
    font-size: 1.15rem;
  }

  @include desktop {
    font-size: 1.5vw;
  }
}

@mixin L {
  font-size: 1.5rem;
  @include tablet {
    font-size: 1.75rem;
  }

  @include desktop {
    font-size: 2vw;
  }
}
@mixin XL {
  font-size: 2rem;
  @include tablet {
    font-size: 2.5rem;
  }

  @include desktop {
    font-size: 2.5vw;
  }
}

@mixin XXL {
  font-size: 3rem;
  @include tablet {
    font-size: 4rem;
  }
  @include desktop {
    font-size: 6vw;
  }
}

@mixin mb-S {
  margin-bottom: 10px;
  @include desktop {
    margin-bottom: 1vw;
  }
}

@mixin mb-L {
  margin-bottom: 25px;
  @include desktop {
    margin-bottom: 2vw;
  }
}

@mixin underline {
  background: linear-gradient(to top, #007aff 5%, transparent 5%);
}

@mixin highlight {
  background: linear-gradient(to top, #fa3200 10%, transparent 10%);
}
