// Colors
$gray-S: #f4f4f4;
$gray-M: #dde2e5;
$gray-L: #aab6be;
$purple: #8e1cfd;
$lilac: #ceb4ff;
$green: #00cf6b;
$pink: #ff99a3;
$blue: #00a5cf;
$orange: #fc5f1c;
$red: #fc321c;
$yellow: #fcea1c;
$nude: #f2ece4;

@mixin container {
  margin: 0 auto;
  width: 80%;

  @include phone {
    width: 90%;
  }
}

@mixin section-padding {
  padding: 100px 0;
  @include desktop {
    padding: 10vw 0;
  }
}

h3 {
  @include L;
  @include strong;
}

@mixin padding {
  padding: 50px 0;
  @include desktop {
    padding: 5vw 0;
  }
}

#header {
  //border: 1px solid red;
  background-color: $nude;
  > div {
    // border: 1px solid red;
    @include container;
    height: 60vh;

    // Name
    p:first-of-type {
      font-size: 3vw;
      @include phone {
        font-size: 2rem;
      }
      margin-bottom: 10px;
      @include desktop {
        margin-bottom: 1vw;
      }
      font-family: "ITCAvantGardeStd-Md";
      // color: $orange;
    }

    // Title
    h1 {
      font-size: 5vw;
      @include phone {
        font-size: 8vw;
      }
      @include strong;
      font-family: "ITCAvantGardeStd-Md";
      span {
        font-family: inherit;
        color: $orange;
        background: linear-gradient(to right, $green, $yellow, $orange);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  padding: 150px 0 0;
  @include desktop {
    padding: 10vw 0 0;
  }
}

#introduction {
  // border: 1px solid red;

  > div {
    @include container;
    padding: 50px 0;
    @include desktop {
      padding: 5vw 0;
    }
    @include flex-col;
    align-items: flex-end;

    p {
      display: block;
      width: 100%;
      @include tablet {
        width: 80%;
      }
      @include desktop {
        width: 70%;
      }
      @include L;
      margin-bottom: 10px;
      @include desktop {
        margin-bottom: 1vw;
      }
      span {
        font-weight: 600;
      }
    }
  }
}

#services {
  //border: 1px solid red;
  background-color: $nude;

  > div {
    // border: 1px solid red;
    @include container;
    @include section-padding;

    header {
      // border: 1px solid red;

      h3 {
        margin-bottom: 10px;
        @include desktop {
          margin-bottom: 1vw;
        }
      }

      > p {
        @include S;
      }
      margin-bottom: 50px;
      @include desktop {
        margin-bottom: 2.5vw;
      }
    }

    // Cards
    > ul {
      // border: 1px solid red;
      @include flex-row;
      flex-wrap: wrap;
      justify-content: space-between;

      > li {
        // border: 1px solid red;
        background-color: #f4f4f4;
        border-radius: 30px;
        padding: 25px;
        @include desktop {
          padding: 2vw;
        }
        width: 48%;
        @media (max-width: 700px) {
          width: 100%;
        }

        @include flex-col;
        margin-bottom: 50px;
        @include desktop {
          margin-bottom: 5vw;
        }

        img {
          // border: 1px solid red;
          width: 25%;
          max-width: 5em;
          margin: 10px auto;
          @include desktop {
            margin: 1vw auto;
          }
        }

        h4 {
          // border: 1px solid red;
          @include L;
          @include strong;
          margin: 0 0 10px;
          @include desktop {
            margin: 0 0 1vw;
          }
        }

        p {
          @include S;
          margin: 0 0 10px;
          @include desktop {
            margin: 0 0 1vw;
          }
        }

        > ul {
          display: flex;
          flex-wrap: wrap;

          > li {
            background-color: $green;
            border-radius: 30px;
            padding: 0.5em 2em;
            margin: 0 0.5em 0.5em 0;
            font-weight: 400;
            &:first-of-type {
              border: none;
              background-color: transparent;
              padding: 0.5em 0 0;
              font-weight: 800;
            }
          }
        }
      }
    }

    // What I don't
    > div {
      button {
        border: none;
        background-color: transparent;
        outline: none;
        -webkit-appearance: none;
        cursor: pointer;
        @include S;
        margin-bottom: 50px;
        @include desktop {
          margin-bottom: 2.5vw;
        }
      }
      p {
        display: none;
        &.active {
          display: block;
          @include S;
        }
      }
    }
  }
}

#culture {
  // border: 1px solid red;
  .card-container {
    // border: 1px solid red;
    position: relative;
    height: 100%;
    padding: 0 0 0 10vw;
    @include phone {
      padding: 0 0 0 5vw;
    }
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    > div {
      position: relative;
      height: 50vh;
      width: 300px;
      border-radius: 25px;
      @include desktop {
        width: 25vw;
      }
      border-radius: 2px;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 50px;
      @include desktop {
        margin-right: 4vw;
      }
      flex-shrink: 0;
      padding: 25px;
      @include desktop {
        padding: 2vw;
      }

      // Section title
      &:first-of-type {
        border: 1px solid red;
        width: 200px;
        @include tablet {
          width: 200px;
        }
        @include desktop {
          width: 15vw;
        }
        background-color: transparent;
        border: none;
        padding: 0;
        @include flex-col;
        justify-content: flex-start;
        align-items: flex-start;
        h3 {
        }
      }
      // Cards
      &:nth-of-type(2) {
        background-color: #fcea1c;
      }
      &:nth-of-type(3) {
        background-color: #00cf6b;
      }
      &:nth-of-type(4) {
        background-color: #ff99a3;
      }
      &:nth-of-type(5) {
        background-color: #00a5cf;
      }
      &:nth-of-type(6) {
        background-color: #fc5f1c;
      }

      // Card contents
      h4 {
        @include L;
        @include strong;
        // text-align: center;
      }

      img {
        // border: 1px solid red;
        width: 50%;
        margin: 0 auto;
      }

      p {
        @include S;
      }
    }
  }
}

#apps {
  background-color: $nude;
  padding: 100px 0;
  @include desktop {
    padding: 10vw 0;
  }
  > div {
    @include container;
    text-align: center;

    header {
      margin-bottom: 25px;
      @include desktop {
        margin-bottom: 1vw;
      }
    }

    p:first-of-type {
      font-size: 8rem;
      @include desktop {
        font-size: 10vw;
      }
      font-weight: 400;
      span {
        display: block;
        @include L;
        font-weight: 400;
      }
      margin-bottom: 25px;
      @include desktop {
        margin-bottom: 1vw;
      }
    }
    p:last-of-type {
      @include S;
      a {
        background: linear-gradient(to top, $orange 10%, transparent 10%);
        &:hover {
          background: none;
        }
      }
    }
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}

// #news {
//   ul {
//     @include flex-col;

//     li {
//       //border: 1px solid;
//
//       h4 {
//         @include L;
//       }
//
//       p {
//         @include S;
//       }
//
//       a {
//         @include txt-S;
//       }
//     }
//   }
// }

// // Apps accordeon
// .apps {
//   .app {
//     display: flex;
//     flex-direction: column;
//     width: 60%;
//     max-width: 50em;

//     // Header bar
//     > div:first-of-type {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       padding: 2vw 0.5vw;
//       @include phone {
//         padding: 5vw 0.5vw;
//       }

//       cursor: pointer;

//       p {
//         @include S;
//         @include L;
//       }

//       // Title
//       > h4 {
//         @include L;
//         @include strong;
//       }

//       // Toggle icon
//       > div {
//         @include L;

//         svg {
//           position: relative;
//           top: 0.15em;
//         }
//       }
//     }

//     // Description
//     > div:nth-of-type(2) {
//       //border: 1px solid red;
//       overflow: hidden;
//       transition: all 0.5s ease;
//       display: flex;
//       justify-content: flex-end;

//       > div {
//         // border: 1px solid red;
//         width: 100%;
//       }

//       p {
//         @include txt-s;
//         color: $gray3;
//         @include mb-inline;
//       }

//       a {
//         display: block;
//         @include txt-s;
//         @include mb-inline;
//       }
//     }
//   }
// }

// .accToggle {
//   position: relative;
//   transform: rotate(0deg);
//   transition-property: all;
//   transition-duration: 0.5s;
//   transition-timing-function: cubic-bezier(0.66, 0, 0.34, 1);
//   left: 0;
//   &.active {
//     transform: rotate(90deg);
//     left: -2px;
//   }
// }
