$red: #00ba71;
$purple: #8e1cfd;
// rgb(255, 69, 1);
// #ff4f09
// #4FD321 green
// rgb(255, 79, 9)
$beige: #e6dccf;
$black: #2d2d2d;
$gray1: #f8f8f8;
$gray2: #dde2e5;
$gray3: #aab6be;

$green: #00cf6b;
$pink: #ff99a3;
$blue: #00a5cf;
$orange: #fc5f1c;
$red: #fc321c;
$yellow: #fcea1c;
$nude: #f2ece4;

@mixin container {
  margin: 0 auto;
  width: 80%;

  @include phone {
    width: 90%;
  }
}

@mixin section-padding {
  padding: 100px 0;
  @include desktop {
    padding: 10vw 0;
  }
}

h3 {
  @include XL;
  @include strong;
}

@mixin padding {
  padding: 50px 0;
  @include desktop {
    padding: 5vw 0;
  }
}

#header {
  // border: 1px solid red;
  > div {
    // border: 1px solid red;
    @include container;
    height: 60vh;

    // Name
    p:first-of-type {
      font-size: 4vw;
      @include phone {
        font-size: 2rem;
      }
      margin-bottom: 10px;
      @include desktop {
        margin-bottom: 1vw;
      }
    }

    // Title
    h1 {
      font-size: 6vw;
      @include phone {
        font-size: 8vw;
      }
      @include strong;

      span {
        font-family: inherit;
        color: $purple;
        background: linear-gradient(to right, $green, $yellow);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  padding: 150px 0 0;
  @include desktop {
    padding: 10vw 0 0;
  }
}

#introduction {
  // border: 1px solid red;
  background-color: $green;

  > div {
    @include container;
    padding: 50px 0;
    @include desktop {
      padding: 5vw 0;
    }
    @include flex-col;
    align-items: flex-end;

    p {
      display: block;
      width: 100%;
      @include tablet {
        width: 80%;
      }
      @include desktop {
        width: 70%;
      }
      @include L;
      margin-bottom: 10px;
      @include desktop {
        margin-bottom: 1vw;
      }
      span {
        @include strong;
      }
    }
  }
}

#services {
  //border: 1px solid red;
  background-color: #f2ece4;

  > div {
    // border: 1px solid red;
    @include container;
    @include section-padding;

    header {
      // border: 1px solid red;

      h3 {
        margin-bottom: 10px;
        @include desktop {
          margin-bottom: 1vw;
        }
      }
      > p {
        @include S;
      }
      margin-bottom: 50px;
      @include desktop {
        margin-bottom: 2.5vw;
      }
    }

    ul {
      // border: 1px solid red;
      @include flex-row;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        // border: 1px solid red;
        width: 45%;
        @include flex-col;
        align-items: center;

        margin-bottom: 50px;
        @include desktop {
          margin-bottom: 5vw;
        }
        &:last-of-type {
          margin-bottom: 0px;
        }

        img {
          //border: 1px solid red;
          width: 25%;
          max-width: 5em;

          margin: 0 0 10px;
          @include desktop {
            margin: 0 0 1vw;
          }
        }

        h4 {
          // border: 1px solid red;
          @include L;
          text-align: center;
          @include strong;
          margin: 0 0 10px;
          @include desktop {
            margin: 0 0 1vw;
          }
        }

        p {
          @include S;
        }

        @media (max-width: 500px) {
          width: 100%;
          align-items: flex-start;
          h4 {
            text-align: left;
          }
        }
      }
    }
  }
}

#culture {
  // border: 1px solid red;
  .card-container {
    // border: 1px solid red;
    position: relative;
    height: 100%;
    padding: 0 0 0 10vw;
    @include phone {
      padding: 0 0 0 5vw;
    }
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    > div {
      position: relative;
      height: 60vh;
      width: 300px;
      @include desktop {
        width: 25vw;
      }
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 50px;
      @include desktop {
        margin-right: 4vw;
      }
      flex-shrink: 0;
      padding: 25px;
      @include desktop {
        padding: 2vw;
      }

      // Section title
      &:first-of-type {
        border: 1px solid red;
        width: 200px;
        @include tablet {
          width: 200px;
        }
        @include desktop {
          width: 15vw;
        }
        background-color: transparent;
        border: none;
        padding: 0;
        @include flex-col;
        justify-content: flex-start;
        align-items: flex-start;
        h3 {
        }
      }
      // Cards
      &:nth-of-type(2) {
        background-color: #fcea1c;
      }
      &:nth-of-type(3) {
        background-color: #00cf6b;
      }
      &:nth-of-type(4) {
        background-color: #ff99a3;
      }
      &:nth-of-type(5) {
        background-color: #00a5cf;
      }
      &:nth-of-type(6) {
        background-color: #fc5f1c;
      }

      // Card contents
      h4 {
        @include L;
        @include strong;
        // text-align: center;
      }

      img {
        // border: 1px solid red;
        width: 50%;
        margin: 0 auto;
      }

      p {
        @include S;
      }
    }
  }
}

#tools {
  padding: 100px 0;
  //border: 1px solid green;
  > div {
    @include container;
  }

  ul {
    // border: 1px solid red;
    width: 100%;
    margin-left: auto;
    @include flex-row;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include phone {
      justify-content: space-around;
    }

    li {
      //border: 1px solid red;
      //border: 1px solid red;
      @include flex-row;
      align-items: center;
      justify-content: flex-start;
      width: 20%;
      // @include tablet {
      //   width: 25%;
      // }
      // @include phone {
      //   width: 50%;
      // }

      svg {
        //  @include txt-l;
        margin: 0 1vw 0 0;

        @include XL;
      }

      span {
        @include S;
        padding: 1vw 0;
        display: none;
      }
    }
  }
}

#apps {
  // border: 1px solid red;
  background-color: $nude;
  > div {
    @include container;
    @include section-padding;
    @include flex-row;
    justify-content: space-between;

    header {
      width: 30%;
    }
    ul {
      width: 65%;
    }

    @include desktop {
      header {
        width: 20%;
      }
      ul {
        width: 75%;
      }
    }
  }

  header {
    // border: 1px solid red;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    height: 50vw;
    @include tablet {
      height: 25vw;
    }
    @include desktop {
      height: 20vw;
    }
    top: 100px;

    h3 {
      margin-bottom: 10px;
      @include desktop {
        margin-bottom: 1vw;
      }
    }

    > p {
      @include S;
    }
  }

  ul {
    li {
      //border-left: 200px solid red;
      height: 50vw;
      @include tablet {
        height: 25vw;
      }
      @include desktop {
        height: 20vw;
      }
      h4 {
        @include L;
        @include strong;
        margin-bottom: 10px;
        @include desktop {
          margin-bottom: 0.5vw;
        }
      }

      p {
        @include S;
        margin-bottom: 10px;
        @include desktop {
          margin-bottom: 0.5vw;
        }
        // max-width: 30em;
      }

      > div {
        // border: 1px solid red;
        display: flex;
        display: flex;
        // button {
        //   @include S;
        //   @include strong;
        //   border: 2px solid $green;
        //   padding: 8px 25px;
        //   border-radius: 30px;
        //   &:first-of-type {
        //     background-color: transparent;
        //     margin: 0 10px 0 0;
        //     @include desktop {
        //       margin: 0 1vw 0 0;
        //     }
        //   }
        //   &:nth-of-type(2) {
        //     background-color: $green;
        //   }
        // }
      }
    }
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}

#contact {
  // background-color: $pink;
  > div {
    //border: 1px solid red;
    @include container;
    padding: 100px 0;
    @include desktop {
      padding: 10vw 0;
    }
    @include flex-row;
    justify-content: space-between;
    > div:first-of-type {
      width: 70%;
      p {
        @include S;
        margin-bottom: 10px;
        @include desktop {
          margin-bottom: 1vw;
        }
      }

      ul {
        li {
          a {
            @include XL;
            @include strong;
          }
          span {
            @include XL;
            @include strong;
            //   display: none;
          }
        }
      }
    }

    // Spinner
    > div:nth-of-type(2) {
      border: 1px solid red;
      width: 100px;
      height: 100px;
      background-color: pink;
      border-radius: 50%;
      cursor: pointer;
      a {
        border: 1px solid red;
      }
    }
  }
}

// #news {
//   ul {
//     @include flex-col;

//     li {
//       //border: 1px solid;
//
//       h4 {
//         @include L;
//       }
//
//       p {
//         @include S;
//       }
//
//       a {
//         @include txt-S;
//       }
//     }
//   }
// }

// // Apps accordeon
// .apps {
//   .app {
//     display: flex;
//     flex-direction: column;
//     width: 60%;
//     max-width: 50em;

//     // Header bar
//     > div:first-of-type {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       padding: 2vw 0.5vw;
//       @include phone {
//         padding: 5vw 0.5vw;
//       }

//       cursor: pointer;

//       p {
//         @include S;
//         @include L;
//       }

//       // Title
//       > h4 {
//         @include L;
//         @include strong;
//       }

//       // Toggle icon
//       > div {
//         @include L;

//         svg {
//           position: relative;
//           top: 0.15em;
//         }
//       }
//     }

//     // Description
//     > div:nth-of-type(2) {
//       //border: 1px solid red;
//       overflow: hidden;
//       transition: all 0.5s ease;
//       display: flex;
//       justify-content: flex-end;

//       > div {
//         // border: 1px solid red;
//         width: 100%;
//       }

//       p {
//         @include txt-s;
//         color: $gray3;
//         @include mb-inline;
//       }

//       a {
//         display: block;
//         @include txt-s;
//         @include mb-inline;
//       }
//     }
//   }
// }

// .accToggle {
//   position: relative;
//   transform: rotate(0deg);
//   transition-property: all;
//   transition-duration: 0.5s;
//   transition-timing-function: cubic-bezier(0.66, 0, 0.34, 1);
//   left: 0;
//   &.active {
//     transform: rotate(90deg);
//     left: -2px;
//   }
// }
