@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import "mixins";

$yellow: #ffcc00;
$blue: #007aff;
$red: #fa3200;
$gray-S: #f4f4f4;
$gray-L: #5f6368;
$gray-M: #dde2e5;

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

nav {
  // border-bottom: 1px solid $gray-M;
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 80px;
  padding: 0 2vw;
  display: flex;
  transition: top 0.25s;
  transition-timing-function: cubic-bezier(0.66, 0, 0.34, 1);

  // Links
  > div:first-of-type {
    // border: 1px solid red;
    width: 100%;
    > ul {
      height: 100%;
      width: 100%;
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      justify-content: space-between;
      align-items: center;

      > li {
        padding: 0 25px;

        @include desktop {
          padding: 0.5vw 2vw;
        }
        &:first-of-type {
          // border: 1px solid red;
          margin-right: auto;
          a {
            display: block;
            text-align: left;
            //  border: 1px solid red;
            width: 100%;
          }
        }

        a {
          // border: 1px solid red;
          display: block;
          @include L;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        // Social links
        &:last-of-type {
          display: none;
        }
      }
    }
  }

  // Toggle
  > div:nth-of-type(2) {
    display: none;
  }

  @media only screen and (max-width: 500px) {
    justify-content: flex-end;

    // Links
    > div:first-of-type {
      // border: 1px solid red;
      position: absolute;
      right: -100%;
      height: 100vh;
      width: 100%;

      > ul {
        background-color: white;
        padding: 80px 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        > li {
          // border: 1px solid red;
          a {
            @include L;
            text-align: left;
            line-height: 2;
          }

          // Social links
          &:last-of-type {
            margin-top: auto;
            display: block;
            a {
              @include S;
              color: black;
              text-decoration: underline;
              &:hover {
                text-decoration: none;
              }
              line-height: 2;
            }
          }
        }
      }

      &.active {
        right: 0;
      }
    }

    //Toggle
    > div:nth-of-type(2) {
      // border: 1px solid red;
      width: 15%;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .bar {
        width: 40px;
        height: 2px;
        background-color: black;
        transition: 0.25s ease;
      }

      .hidden {
        width: 40px;
        height: 2px;
        margin: 5px 0;
      }

      &.active {
        .bar {
          &:first-of-type {
            -webkit-transform: rotate(-45deg) translate(-5px, 5px);
            transform: rotate(-45deg) translate(-5px, 5px);
          }
          &:last-of-type {
            -webkit-transform: rotate(45deg) translate(-5px, -5px);
            transform: rotate(45deg) translate(-5px, -5px);
          }
        }
      }
    }
  }
}

.backToTop {
  // border: 1px solid red;
  @include L;
  position: fixed;
  right: 4vw;
  bottom: 3vw;
  @include phone {
    bottom: 7vw;
  }

  svg {
    fill: black;
    vertical-align: middle;
    border-radius: 50%;
  }
}

#header {
  height: 100vh;
  width: 100%;

  // Inner container
  > div {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    @include flex-center;
  }

  h1 {
    line-height: 1.5;
    text-align: center;
    @include XL;

    span:first-of-type {
      color: $red;
    }

    span {
      color: $blue;
      font-family: inherit;
    }

    br {
      @media only screen and (max-width: 1000px) {
        display: none;
      }
    }
  }
}

#info {
  padding: 0 0 100px 0;
  @include desktop {
    padding: 0 0 10vw 0;
  }

  #skills {
    @include mb-L;
    ul {
      @include container;
      @include flex;
      justify-content: space-between;
      li {
        width: 45%;
        h3 {
          @include XXL;
          font-weight: 400;
          @include mb-XL;
        }

        p {
          @include L;
          @include phone {
            @include S;
          }
          line-height: 1.5;
          @include mb-S;
          span {
            color: $blue;
          }
        }
      }
      @include phone {
        @include flex-col;
        li {
          width: 100%;
          &:first-of-type {
            @include mb-XL;
          }
        }
      }
    }
  }

  #values {
    > div {
      @include container;

      h3 {
        @include XL;
        font-weight: 400;
        @include mb-XL;
      }

      // Values
      ul {
        @include flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include mb-L;

        li {
          width: 30%;
          @include tablet {
            width: 45%;
          }
          @include phone {
            width: 100%;
          }
          @include mb-L;

          h4 {
            @include L;
            @include phone {
              @include S;
            }
            @include mb-S;
            color: $blue;
          }

          p {
            @include L;
            @include phone {
              @include S;
            }
            line-height: 1.5;
          }
        }

        @include phone {
        }
      }

      > p {
        @include L;
        @include phone {
          @include S;
        }
        line-height: 1.5;
        span {
          color: $blue;
        }
      }
    }
  }

  #lol {
    @include container;
    @include mb-L;
    button {
      border: none;
      background-color: transparent;
      outline: none;
      -webkit-appearance: none;
      cursor: pointer;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
      @include L;
      @include phone {
        @include S;
      }
      @include mb-L;
    }
    p {
      display: none;
      &.active {
        display: block;
        @include L;
        line-height: 1.5;
        @include mb-XL;
      }
    }
  }

  > h3 {
    display: block;
    @include container;
    @include XL;
    //font-weight: 400;
    span:first-of-type {
      color: $red;
    }

    span {
      color: $blue;
      font-family: inherit;
    }
  }
}

#apps {
  // border: 1px solid;
  .cards {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: $gray-S;
    display: flex;
    @include desktop {
      padding: 0 0 0 4vw;
    }

    // Card
    > li {
      // border: 1px solid red;
      background-color: $gray-S;
      display: flex;
      align-items: flex-end;
      min-width: 60vw;

      > div {
        position: relative;
        height: 80%;
        width: 80%;
        margin: 0 auto 50px;
      }

      @media only screen and (max-width: 550px) {
        min-width: 100vw;
        > div {
          width: 90%;
        }
      }
      @media only screen and (min-width: 551px) and (max-width: 768px) {
        min-width: 80vw;
        > div {
          width: 90%;
        }
      }
      @media only screen and (min-width: 769px) and (max-width: 1000px) {
        min-width: 80vw;
        > div {
          width: 80%;
        }
      }

      @include desktop {
        min-width: 40vw;
        > div {
          width: 80%;
        }
      }

      > div {
        background-color: white;
        border-radius: 30px;

        // Graphic
        > div:first-of-type {
          height: 15%;
          background-color: $yellow;
          border-radius: 30px 30px 0 0;

          @include flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 25px;
          svg {
            @include XL;
          }
          span {
            @include L;
            font-weight: 400;
          }
        }

        > div:nth-of-type(2) {
          padding: 25px;
          // Title
          h3 {
            //color: $blue;
            @include XL;
            font-weight: 400;
            @include mb-L;
          }

          // Description
          p {
            @include L;
            line-height: 1.5;
            @include phone {
              @include S;
            }
            @include mb-L;
          }

          // View details
          > button {
            border: none;
            background-color: transparent;
            outline: none;
            -webkit-appearance: none;
            cursor: pointer;
            @include S;
            @include link;
            align-self: start;
          }
        }

        .modal {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background-color: white;
          border-radius: 30px;
          padding: 25px;

          // Inner container
          > div {
            width: 95%;
            margin: 0 auto;
            @include flex-col;
          }

          // Close
          button {
            align-self: flex-end;
            border: none;
            background-color: transparent;
            outline: none;
            -webkit-appearance: none;
            cursor: pointer;
            @include XL;
          }

          ul {
            display: flex;
            flex-wrap: wrap;
            li {
              @include S;
              //line-height: 1.5;
              background-color: $yellow;
              margin: 0 0.25em 0.25em 0;
              border-radius: 30px;
              padding: 0.5em 0.5em;
              &:first-of-type {
                background-color: transparent;
                padding: 0.25em 0;
                @include S;
                font-weight: 400;
                @include mb-S;
              }
            }
            @include mb-L;
          }

          // Links
          > div {
            a {
              @include S;
              line-height: 1.5;
              @include link;
              &:first-of-type {
                margin: 0 25px 0 0;
                @include desktop {
                  margin: 0 2vw 0 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

#cta {
  height: 100vh;
  width: 100%;

  // Inner container
  > div {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    @include flex-col-center;
  }

  p {
    @include XL;
    line-height: 1.5;
    text-align: center;
    max-width: 20em;

    span:first-of-type {
      color: $blue;
    }
    span:nth-of-type(2) {
      color: $red;
    }
    @include mb-L;
  }

  a {
    @include L;
    @include link;
  }
}

footer {
  background-color: $gray-S;
  padding: 50px 0;
  @include desktop {
    padding: 4vw 0;
  }

  > div {
    //border: 1px solid red;
    width: 90%;
    margin: 0 auto;
    @include flex;
    justify-content: flex-end;
    @include mb-XL;

    ul {
      li {
        line-height: 1.5;
        a {
          @include L;
          @include phone {
            @include S;
          }
          color: black;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
          // Download
          svg {
            position: relative;
            top: 0.3em;
          }
        }
      }
    }

    ul:first-of-type {
      width: 40%;
    }

    @include desktop {
      ul:first-of-type {
        width: 30%;
      }
    }

    @include phone {
      ul:first-of-type {
        width: 50%;
      }
    }

    @media only screen and (max-width: 500px) {
      @include flex-col-center;
      text-align: center;
      @include mb-L;

      ul {
        width: 100%;
        li {
          a {
            @include L;
          }
        }
        margin-bottom: 50px;
      }
    }
  }

  // Copyright
  > p {
    display: block;
    width: 90%;
    margin: 0 auto;
    @include S;

    svg {
      color: $red;
      position: relative;
      top: 0.1em;
    }
    @media only screen and (max-width: 500px) {
      text-align: center;
      line-height: 1.5;
      @include XS;
    }
  }
}
